//  Page Colours
page-base-colour = rgb(255,255,255)
page-secondary-colour = rgb(153,156,173)

//  Application Colours
app-base-colour = rgb(70,82,157)
app-secondary-colour = rgb(46,186,238)

app-text-colour = rgb(255,255,255)
app-text-secondary-colour = rgb(70,82,157)

list-base-colour = rgb(255,255,255)
list-secondary-colour = rgb(224,224,224)

form-validation-invalid = rgb(219,0,0)
form-validation-valid = app-secondary-colour